          &lt;div id='app'>
            &lt;h2>Dom渲染&lt;/h2>

            &lt;div class="para">
              &lt;h4>声明式渲染&lt;/h4>
              &lt;div>{{msg}&shy;}&lt;/div>

              &lt;h4>html渲染&lt;/h4>
              &lt;div v-html='msgHtml'>&lt;/div>

              &lt;h4>Dom属性绑定&lt;/h4>
              &lt;div>&lt;a href="https://google.com.hk" :title='title'>Google hongKong&lt;/a>&lt;/div>

              &lt;h4>列表渲染&lt;/h4>
              &lt;div>
                &lt;ul>
                  &lt;li v-for='item in list'>{{item.index + '--' + item.name}&shy;}&lt;/li>
                &lt;/ul>
              &lt;/div>

              &lt;h4>条件渲染&lt;/h4>
              &lt;div v-show='showSun'>Sun Rise&lt;/div>
              &lt;div v-if='showMoon'>Moon Rise&lt;/div>

              &lt;h4>class/style 渲染（属性渲染）&lt;/h4>
              &lt;div :class="{'danger': showSun, 'warning': !showSun}">不同级别的提示。&lt;/div>

              &lt;h4>事件监听&lt;/h4>
              &lt;button @click='onClick()'>Click Me&lt;/button>（更多如 dbclick,oninput,ondrap...）

              &lt;h4>v-model 数据绑定&lt;/h4>
              &lt;div>{{inputVal}&shy;}&lt;/div>
              &lt;input type="text" v-model='inputVal'>
            &lt;/div>
          &lt;/div>
