div.vux2x-document
  h2 手机回收 2.0
  blockquote
    p 模板化功能，依据不同渠道配置不同参数并发布渠道:
    ul
      li 配置模板化功能，依赖 window.config 参数
      li 参数需要去掉第11位和最后11的特定数字，并进行base64/json.parse转化后才可用
    p &nbsp;
    p 手机验证码功能
    ul
      li 使用验证码下单
      li 使用验证码查订单
  h4 文档
  ul('@click'='markSelect($event)')
    li F:\580\Project\手机回收2.0UI
  h4 项目
  ul('@click'='markSelect($event)')
    li F:\580\前端开发\project\branches\life-service\ups-service
    li
