div#ps-video-v1.vux2x-document
  h2 影视会员（模板化）
  div
    blockquote
      p 涉及到 App 调用底层接口:
      ul
        li 获取用户信息 phoneNum/token/userBirthday/userNickName/userSex/shareMode/userID
        li 获取客户端 App 信息 clientVersionId/clientVersionNo/packageName/versionName/versionNum/API_SERVICE_VERSION/BRAND_CODE
        li 控制跳转 App 内原生登录
        li 微信支付与支付宝支付（需与后台交互，使用payMethod/payStr(一串md5类型的字符串)
      p &nbsp;
      p 友盟统计接口
      ul
        li umAnalysisInit 友盟统计初使化，即 web 页面访问统计
        li umEventPush 友盟统计事件，更细致的统计工作
      p &nbsp;
      p 新订单系统接口
      ul
        li 包括如下单、订单查询等新订单系统新接口
    h4 文档
    ul('@click'='markSelect($event)')
      li F:\580\Project\影视会员\蜂云电话(iOS)JS交互统一接口文档.pdf
      li F:\580\Project\影视会员\FZSSJ-Android\10-技术方案\蜂助手（Android)JS交互统一接口文档 .pdf
    h4 项目
    ul('@click'='markSelect($event)')
      li F:\580\前端开发\project\branches\life-service\template\video-v1.0
      li https://10.20.1.30/svn/前端开发/project/branches/life-service/template/video-v1

